.create__container{
width: 100%;
}
.modal__box{
    height: 450px;
    overflow: scroll;
}
.create__from{

}

.create__from>div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.create__from>div>div>label
{
font-weight: bold;
}
.create__from>div>div>input{
 padding: 5px;
}
.create__from>div>div>select{
    padding: 5px;
   }
.create__from>div>div>input:focus{
 outline: none;
   }
.description{
    display: flex;
    flex-direction: column;
}
.create__from>div>div>textarea{
    padding: 5px;
    width: 234px;
}
.create__from>div>div>textarea:focus{
    outline: none;
}
.button__section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.create__from>div>div>button{
    padding: 2px 35px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}
.show__image{
    width: 100%;
    height: 100px;
    display: inline-block;
}
.show__image>img{
    width: 70px;
    height: 80px;
    margin:5px;
    object-fit: cover;
}
@media(max-width:600px){
    .create__from>div{
        display: inline-block;
        align-items: center;
        justify-content: center;
    }
.modal__box{
        height: 450px;
        overflow: scroll;
}
.create__from>div>div>textarea{
        padding: 5px;
        width: 150px;
}

}