.banner__image__container{
overflow: hidden;
width: 100%;
}
.banner__image__box{
   height: 370px;
   width: 100vw; 
   position: relative;
   display: flex;
   justify-content: space-between;
    /* -webkit-mask-image: linear-gradient(black, transparent); */
     /* mask-image: linear-gradient(rgb(207, 202, 202), transparent); */
    top: 65px;
    background-color: rgb(9, 1, 22);
    overflow: hidden;
    border-bottom-left-radius: 31%;
    border-bottom-right-radius: 31%;
    box-shadow: 0 0 5px rgb(0, 119, 255);
  }
.banner__contan{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: -40px;
    justify-content: center;
    color: tomato;

}
.hotchful{
    margin-top: -30px;
    font-weight: 900;
    color: rgb(224, 132, 12);
    font-size: 18px;
}
.banner__contan>h3{
  font-weight: 900;
  font-size: 40px;
  color: rgb(223, 156, 10);
}
.well__come{
   margin-top: -10px;
   font-weight: bold;
   color: rgb(231, 12, 12);
  }
.banner__image__box>img{
    width: 100%;
    transition: all 2s;
    height: 500px; 
    /* object-fit: cover; */
   
 }
.banner__button{
   color:white;
   position: absolute;
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;
   height: 280px;
 }
 .banner__button>p:nth-of-type(2){
    margin-right: 30px;
    transition: all 0.5s; 
}
.banner__button>p:nth-of-type(2):hover{
    background-color: white;
    padding: 40px 5px;
    color: red;
    border-radius: 2px;
    box-shadow: 0 0 5px rgb(17, 39, 38);
    
}
.banner__button>p:nth-of-type(1){
    margin-left: 30px;
    transition: all 0.5s; 
}
.banner__button>p:nth-of-type(1):hover{
    background-color: white;
    padding: 40px 6px;
    color: red;
    border-radius: 2px;
    box-shadow: 0 0 5px rgb(17, 39, 38);
}
@media(max-width:700px){
  .banner__image__box{
    height: 300px;
    width: 100vw; 
   }
   .banner__image__box{
     border-bottom-left-radius: 41%;
     border-bottom-right-radius: 38%;
   }
}